.darkEl{
    color: hsl(0, 0%, 100%);
    background-color: hsl(207,26%,17%);
    box-shadow: 1px 1px 5px 1px hsl(200,15%,8%);

}

.lightEl{
    color: hsl(200,15%,8%);
    background-color: hsl(0, 0%, 98%);
    box-shadow: 1px 1px 5px 1px gray;

}

.darkEl button{
    color: hsl(0, 0%, 100%);

}

.darkEl a{
    color: hsl(0, 0%, 100%);
    
}

.darkEl input{
    background-color: hsl(207,26%,17%);
    border: none;
    box-shadow: 1px 1px 5px 1px gray;

}

.darkEl select{
    background-color: hsl(207,26%,17%);
    color: hsl(0, 0%, 100%);
}

.darkEl input::placeholder{
    color: hsl(0, 0%, 100%);
}