.darkEl {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
  box-shadow: 1px 1px 5px 1px hsl(200, 15%, 8%);

  button {
    color: hsl(0, 0%, 100%);
  }
  a {
    color: hsl(0, 0%, 100%);
  }
  input {
    background-color: hsl(207, 26%, 17%);
    border: none;
    box-shadow: 1px 1px 5px 1px black;
  }
  input::placeholder {
    color: hsl(0, 0%, 100%);
    
  }
  select {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
  }

  .linkes{
    background-color: hsl(207, 26%, 17%);
    box-shadow: 1px 1px 5px 1px black;
  }

  .back{
    background-color: hsl(207, 26%, 17%);
    box-shadow: 1px 1px 5px 1px black;
  }

  .everyCard{
    box-shadow: 1px 1px 5px 1px black;

  }

  header{
    background-color: hsl(209, 23%, 22%);
    box-shadow: 1px 1px 5px 1px black;
  }
}

.lightEl {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
  box-shadow: 1px 1px 5px 1px gray;
}
