@font-face {
    font-family:NunitoSansRegular ;
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family:NunitoSansBold ;
    src: url('../fonts/NunitoSans-Bold.ttf');
}

*{
    font-family: NunitoSansRegular;
}